.it-personality {
    color: #ff0000;
    margin-left: 4px;
    display: flex;
    transition: 0.5s;
  }
  .it-personality:hover {
    color: #0fffcf;
    text-decoration: auto;
  }
  .email {
    color: #25ffd3;
    justify-content: center;
    display: flex;
    font-size: 120%;
    margin-top: 15px;
  }
  .footer-section h6 {
    display: flex;
    color: #fff;
    margin-top: 3px;
    padding-right: 100px;
  }
  .footer-section {
    overflow: hidden;
    background: #101010;
    margin-top: 12%;
  }
  .footer-menu li a {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #aeaeae;
    margin-left: 20px;
  }
  .footer-menu li a:hover {
    color: #0fffcf;
    transition: 0.5s;
    text-decoration: auto;
  }
  .footer-menu li {
    display: inline;
  }
  .footer-menu {
    display: flex;
    justify-content: center;
    margin-top: 14px;
  }

@media screen and (max-width: 600px) {
    .email {
      color: #25ffd3;
      justify-content: center;
      display: flex;
      font-size: 120%;
      margin-top: 10px;
    }
    .footer-section {
    overflow: hidden;
    background: #121212;
    margin-top: 8%;
    padding: 17px;
    }
    .footer-section h6 {
    color: #fff;
    font-size: initial;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    padding-right: 0px;
    margin-top: 9%;
    margin-bottom: 5%;
    }
    .footer-menu {
    margin-bottom: 4%;
    text-align: center;
    display: block;
    margin-left: -16%;
    }
    .footer-menu li a {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #aeaeae;
    margin-top: 14px;
    margin-left: 20px;
    }
      .it-personality {
        color: #ff0000;
        margin-left: 3px;
        display: flex;
        transition: 0.5s;
        margin-top: 0px;
      }
    }