html,
body {
  background-color: #080808;
  overflow-x: hidden;
}
::-moz-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}

::selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}

::-moz-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}

::-webkit-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}
h4{
  color: #fff;
}
.share_h6{
  color: #fff;
  display: flex;
  padding-right: 17px;
  font-size: larger;
  align-items: center;
}
.soch {
  margin-left: 7%;
  display: flex;
  margin-top: 70px;
  margin-bottom: 1%;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #d4d4d4;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 8px;
  border: 3px solid #d4d4d4;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}
.DriverTest {
  display: flex;
}
.DriverTest img {
  width: 150px;
  margin-left: 62px;
  margin-top: 77px;
}
.iobith1 h1 {
  color: #fff;
  display: flex;
  margin-left: 20%;
  margin-top: -9%;
}
#text21 {
  color: #d5d5d5;
  font-weight: 600;
  padding-right: 33%;
  margin-top: 1%;
}
.Driv1 img {
  width: 39%;
  margin-top: -73%;
  margin-left: 69%;
}
.Driver2 img {
  width: 39%;
  margin-left: 69%;
  margin-top: -21%;
}
.vozv h1 {
  color: #fff;
  font-size: x-large;
}
.osob li {
  color: #e1e1e1;
}
.oper h1 {
  color: #fff;
  font-size: x-large;
}
.osob1 li {
  color: #e1e1e1;
}
@media screen and (max-width: 600px) {
  .iobith1 {
    display: flex;
    justify-content: center;
  }
  .share_h6 {
    color: #fff;
    display: flex;
    padding-right: 0px;
    justify-content: center;
    font-size: larger;
}
.soch {
    margin-left: 2%;
    display: block;
    margin-top: 45px;
    text-align: center;
    margin-bottom: 20px;
}
  .DriverTest img {
    width: 45%;
    margin-left: 28%;
    margin-top: 22%;
  }
  .iobith1 h1 {
    color: #fff;
    display: flex;
    margin-left: 3%;
    margin-top: -5%;
  }
  #text21 {
    color: #9f9f9f;
    font-weight: 600;
    margin-top: 0%;
    text-align: center;
    padding-right: 0%;
  }
  .Driv1 img {
    width: 92%;
    margin-top: 28%;
    margin-left: 4%;
  }
  .Driver2 img {
    width: 92%;
    margin-left: 4%;
    margin-top: 5%;
  }
}
