html,
body {
  background-color: #080808;
  overflow-x: hidden;
}
#counter {
  color: #ff8100;
  font-weight: 700;
  font-size: 150%;
  margin-top: -57px;
  margin-left: 21%;
}
.thank {
  font-weight: 700;
  font-size: 165%;
  color: #fff;
}
.like {
  width: 26px;
  margin-left: 285px;
  margin-top: -62px;
}
#link {
  display: block;
  border: none;
  background: #ebebeb;
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  padding: 1px 48px;
  color: black;
  text-align: center;
  outline: none;
  width: 12%;
  text-decoration: auto;
  font-size: 22px;
  margin-left: 24%;
  box-shadow: 0 0 15px #727272;
  margin-top: -28px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  height: 33px;
}
.soch {
  margin-left: 38%;
  margin-top: -43px;
  margin-bottom: 2%;
}
.view {
  width: 4%;
  display: flex;
  padding-right: 16px;
  margin-left: 4%;
  margin-top: 7%;
}
.vie {
  font-weight: 600;
  display: flex;
  font-size: 113%;
  margin-left: 7%;
  margin-top: -30px;
  color: #fff;
}
.menu__box {
  list-style: none;
}

.menu__box {
  display: flex;
  margin-top: 18px;
}
#menu__toggle {
  opacity: 0;
}
.menu__box {
  float: right;
  margin-right: 49px;
}
.menu__box a {
  display: inline-block;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin-left: 29px;
  font-weight: 500;
  text-decoration: auto;
  padding: 10px 5px;
}
.site-logo img {
  width: 16%;
  margin-top: 15px;
  margin-left: 7%;
}
.menu__box a:hover {
  color: #0fffcf;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #d4d4d4;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 8px;
  border: 3px solid #d4d4d4;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}
.DriverTest {
  display: flex;
}
.DriverTest img {
  width: 150px;
  margin-left: 62px;
  margin-top: 77px;
}
.iobith1 h1 {
  color: #fff;
  display: flex;
  margin-left: 20%;
  margin-top: -9%;
}
#text21 {
  color: #d5d5d5;
  font-weight: 600;
  padding-right: 33%;
  margin-top: 1%;
}
.Driv1 img {
  width: 39%;
  margin-top: -60%;
  margin-left: 69%;
}
.Driver2 img {
  width: 39%;
  margin-left: 69%;
  margin-top: -14%;
}
.vozv h1 {
  color: #fff;
  font-size: x-large;
}
.osob li {
  color: #e1e1e1;
}
.oper h1 {
  color: #fff;
  font-size: x-large;
}
.osob1 li {
  color: #e1e1e1;
}
#ifandonwlod {
  background-color: #181e23;
  border-radius: 7px;
  display: flex;
  color: #d1d1d1;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  cursor: pointer;
  text-decoration: auto;
  width: 289px;
  justify-content: center;
  font-size: 3vh;
  position: relative;
  line-height: 8vh;
  margin-top: 14px;
  align-items: center;
  margin-left: 2%;
}
#ifandonwlod:hover {
  background: rgba(0, 0, 0, 0);
  color: #ff0000;
  box-shadow: inset 0 0 0 2px #ff0000;
}
.footer-menu li a {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #aeaeae;
  text-decoration: auto;
  margin-left: 20px;
}
.footer-section h6 {
  display: flex;
  margin-top: -33px;
  color: #fff;
  margin-left: 6%;
  margin-bottom: 17px;
}
.footer-section {
  padding: 17px 0 5px;
  overflow: hidden;
  background: #121212;
  margin-top: 2%;
}
.footer-menu {
  margin-left: 43%;
}
.footer-menu li a:hover {
  color: #0fffcf;
}
.it-personality {
  color: #ff0000;
  margin-left: 4px;
  display: flex;
  transition: 0.5s;
}
.it-personality:hover {
  color: #0fffcf;
  text-decoration: auto;
}
.footer-menu li {
  display: inline;
}
@media screen and (max-width: 600px) {
  .site-logo img {
    width: 53%;
    margin-top: 15px;
    margin-left: -2%;
  }
  .hamburger-menu {
    position: fixed;
    background: rgb(0 0 0 / 90%);
    z-index: 4;
    width: 100%;
    height: 10%;
    padding: 3px 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 339px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffdd00;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: grid;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 53%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #0e0e0e;
    box-shadow: 1px 0px 6px rgb(0 0 0 / 20%);
  }
  .menu__box a {
    display: inline-block;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    text-decoration: auto;
    padding: 11px 0px;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
  .iobith1 {
    display: flex;
    justify-content: center;
  }
  .vie {
    font-weight: 600;
    margin-top: -15px;
    justify-content: center;
    display: flex;
    margin-bottom: 2%;
    font-size: 162%;
    color: #fff;
  }
  .soch {
    margin-left: 5%;
    padding-right: -6%;
    display: flex;
    text-align: center;
    margin-top: 57px;
  }
  .view {
    width: 16%;
    display: flex;
    margin-left: 43%;
    margin-top: 12px;
    padding-right: 10px;
  }
  #counter {
    color: #ff8100;
    font-weight: 700;
    margin-top: -79px;
    margin-left: 0%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    font-size: 222%;
  }
  .thank {
    margin-top: -4%;
    font-weight: 700;
    display: flex;
    margin-left: 0%;
    margin-top: -4%;
    justify-content: center;
    font-size: 165%;
    color: #fff;
  }
  .like {
    width: 31px;
    position: absolute;
    margin-left: 118px;
    margin-top: -17px;
  }
  #link {
    display: block;
    border: none;
    background: #ebebeb;
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
    padding: 1px 57px;
    color: black;
    text-align: center;
    position: relative;
    outline: none;
    cursor: pointer;
    width: 21vh;
    text-decoration: auto;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 47px;
    margin-bottom: -5%;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
  }
  .DriverTest img {
    width: 45%;
    margin-left: 28%;
    margin-top: 22%;
  }
  .iobith1 h1 {
    color: #fff;
    display: flex;
    margin-left: 3%;
    margin-top: -5%;
  }
  #text21 {
    color: #9f9f9f;
    font-weight: 600;
    margin-top: 0%;
    text-align: center;
    padding-right: 0%;
  }
  #ifandonwlod {
    position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    justify-content: center;
    outline: none;
    width: 65%;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: auto;
    font-weight: bold;
    cursor: pointer;
    margin-left: 18%;
    margin-top: 4%;
  }
  .Driv1 img {
    width: 92%;
    margin-top: 28%;
    margin-left: 4%;
  }
  .Driver2 img {
    width: 92%;
    margin-left: 4%;
    margin-top: 5%;
  }
  .footer-menu {
    margin-bottom: 11%;
    margin-left: -1%;
    justify-content: center;
  }
  .footer-menu li a {
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    color: #aeaeae;
    text-decoration: auto;
    margin-left: 20px;
  }
  .footer-section h6 {
    display: flex;
    justify-content: center;
    margin-top: -33px;
    color: #fff;
    margin-bottom: 17px;
  }
}
