body {
    background-color: #080808;
    overflow-x: hidden;
}
.container {
	max-width: 1176px;
}
::-webkit-scrollbar {
    width: 15px;
    opacity: 0;
  }
  
  ::-webkit-scrollbar-track {
    background: #0d0d0d;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #323232;
  }
  ::-moz-selection {
    background: rgb(235, 235, 235);
    color: rgb(15, 15, 15);
  }
  
  ::selection {
    background: rgb(235, 235, 235);
    color: rgb(15, 15, 15);
  }
  
  ::-moz-selection {
    background: rgb(235, 235, 235);
    color: rgb(15, 15, 15);
  }
  
  ::-webkit-selection {
    background: rgb(235, 235, 235);
    color: rgb(15, 15, 15);
  }
#counter {
    color: #ff8100;
    font-weight: 700;
    font-size: 150%;
    margin-top: -57px;
    margin-left: 21%;
}
.thank {
    font-weight: 700;
    font-size: 165%;
    color: #fff;
}
.like {
    width: 26px;
    margin-left: 291px;
    margin-top: -62px;
}
#link {
    display: block;
    border: none;
    background: #ebebeb;
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
    padding: 1px 51px;
    color: black;
    text-align: center;
    outline: none;
    width: 12%;
    text-decoration: auto;
    font-size: 22px;
    margin-left: 24%;
    box-shadow: 0 0 15px #727272;
    margin-top: -28px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    height: 33px;
}
.soch{
    margin-left: 38%;
    margin-top: -43px;
    margin-bottom: 2%;
}
.view {
    width: 4%;
    display: flex;
    padding-right: 16px;
    margin-top: 3%;
    margin-left: 4%;
}
.vie {
    font-weight: 600;
    display: flex;
    font-size: 113%;
    margin-left: 7%;
    margin-top: -30px;
    color: #fff;
}
.container {
	max-width: 1176px;
}
.container_img {
    max-width: 1176px;
    padding-right: 50%;
    padding-left: 50%;
}
.DriverTest b {
    margin-left: -69%;
    margin-right: auto;
    font-size: xx-large;
    word-break: initial;
    color: #fff;
}
.DriverTest{
    display: inline-block;
}
.page-info-section .pi-content h2 {
    font-size: 60px;
    margin-bottom: 200px;
    font-weight: 700;
    text-align: center;
    margin-top: 10%;
}
.site-logo img {
    width: 16%;
    margin-top: 15px;
    margin-left: 7%;
}
.menu__box {
    float: right;
    margin-right: 60px;
}
#show {
    position: absolute;
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 22%;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: auto;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0%;
    margin-top: 1%;
}
#show:hover{
	background: rgba(0,0,0,0);
	color: #ff0000;
	box-shadow: inset 0 0 0 2px #ff0000;

}
.menu__box {
    list-style: none;
}

.menu__box {
    display: flex;
    margin-top: 18px;
}
#menu__toggle{
	opacity: 0;
}
.menu__box a{
    display: inline-block;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-left: 29px;
    font-weight: 500;
    text-decoration: auto;
    padding: 10px 5px;
}

.menu__box a:hover {
    color: #0fffcf;
}
.it-personality {
    color: #ff0000;
    margin-left: 218px;
    display: flex;
    transition: 0.5s;
    margin-top: -19px;
  }
  .it-personality:hover {
    color: #0fffcf;
    text-decoration: auto;
  }
.Driv1{
	display: flex;
    justify-content: center;
    margin-top: 6vh;
}
.Driver2 img{
	width: 42%;
    margin-left: 65%;
    margin-top: -38%;
}
.Driver3 img{
	width: 42%;
margin-left: 65%;
margin-top: 1%;
}
.Driver4 img{
    width: 42%;
    margin-left: 65%;
    margin-top: 1%;
}
#text21 {
    color: #9f9f9f;
    padding-right: 36%;
    font-weight: 500;
    margin-top: 1%;
}
.osob h1{
	color: #fff;
    font-size: revert;
}
.osob li{
	color: #d7d7d7;
    padding-right: 30%;
}
.footer-top-section {
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    padding: 72px 0;
    margin-top: 2%;
}

.footer-top-section .container {
    position: relative;
}

.footer-top-bg {
    position: absolute;
    left: -30px;
    bottom: -85px;
    z-index: 2;
}
.footer-menu li a {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #aeaeae;
    text-decoration: auto;
    margin-left: 20px;
}
.footer-logo img {
    margin-bottom: 35px;
}
.footer-section h6{
    margin-top: -33px;
    color: #fff;
    margin-left: 6%;
    margin-bottom: 17px;
}
.footer-widget {
    padding: 40px 30px 7px;
    background: #252525;
    border: 1px solid #4a4a4a;
}

.footer-widget .fw-title {
    color: #fff;
    margin-bottom: 40px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1176px;
    margin-right: -15px;
    margin-left: -15px;
}
.footer-section {
    padding: 17px 0 5px;
    overflow: hidden;
    background: #121212;
    margin-top: 7%;
}
.copyrith{
    margin-left: -75%;
    padding-left: -5%;
    padding-right: 26%;
    font-size: larger;
    color: #fff;
}
.footer-menu {
    margin-left: 43%;
}

.footer-menu li {
    display: inline;
    text-decoration: auto;
}
@media screen and (max-width: 600px) {
    .site-logo img {
    width: 43%;
    margin-top: 13px;
    margin-left: 1%;
}
.osob li {
    color: #d7d7d7;
    padding-right: 0%;
}
.hamburger-menu {
    position: fixed;
    background: rgb(0 0 0 / 90%);
    z-index: 4;
    width: 100%;
    height: 10%;
    padding: 3px 0;
}
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 328px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #ffdd00;
    }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
.menu__box {
    display: grid;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 53%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #0e0e0e;
    box-shadow: 1px 0px 6px rgb(0 0 0 / 20%);
}
    .menu__box a {
    display: inline-block;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    text-decoration: auto;
    padding: 11px 0px;
}
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      transition-duration: .25s;
    }
    .menu__box {
      transition-duration: .25s;
    }
    .menu__item {
      transition-duration: .25s;
    }
    .vie {
        font-weight: 600;
        margin-top: -15px;
        justify-content: center;
        display: flex;
        margin-bottom: 2%;
        font-size: 162%;
        color: #fff;
    }
    .soch {
        margin-left: 0%;
        padding-right: -6%;
        display: flex;
        text-align: center;
        margin-top: 117px;
    }
    .view {
        width: 16%;
        display: flex;
        margin-left: 43%;
        margin-top: 12px;
        padding-right: 10px;
    }
    #counter {
        color: #ff8100;
        font-weight: 700;
        margin-top: 6px;
        margin-left: 0%;
        display: flex;
        justify-content: center;
        margin-bottom: -16%;
        font-size: 222%;
    }
    .thank {
        margin-top: -4%;
        font-weight: 700;
        display: flex;
        margin-left: 0%;
        margin-top: 14%;
        justify-content: center;
        font-size: 165%;
        color: #fff;
    }
    .like {
        width: 31px;
        position: absolute;
        margin-left: 118px;
        margin-top: 51px;
    }
    #link {
        display: block;
        border: none;
        background: #ebebeb;
        background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
        padding: 1px 57px;
        color: black;
        text-align: center;
        position: relative;
        outline: none;
        cursor: pointer;
        width: 21vh;
        text-decoration: auto;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 5px;
        margin-top: 47px;
        margin-bottom: -25%;
        height: 36px;
        margin-left: auto;
        margin-right: auto;
    }
    .Driv1 {
    display: flex;
    justify-content: center;
    margin-left: 3px;
    margin-top: 0vh;
}
    .Driv1 img{
    margin-top: 12vh;
}
.DriverTest b {
    margin-left: -67%;
    font-size: xx-large;
    word-break: initial;
    text-align: center;
    color: #fff;
}
#text21 {
    color: #9f9f9f;
    padding-right: 1%;
    margin-top: 3%;
    text-align: center;
    font-weight: 500;
}
.Driver2 img {
    width: 100%;
        margin-left: 0%;
    margin-top: 19%;
}
#show {
    background-color: #181e23;
    border-radius: 5px;
    padding: 9px;
    color: #d1d1d1;
    text-align: center;
    outline: none;
    width: 65%;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: auto;
    font-weight: bold;
    cursor: pointer;
    margin-left: 14%;
    margin-top: 1%;
}
.content_show{
    display: flex;
    justify-content: center;
}
.Driver3 img {
    width: 100%;
    margin-left: 1%;
    margin-top: 2%;
}
.footer-section {
    padding: 17px 0 5px;
    overflow: hidden;
    background: #121212;
    margin-top: 8%;
}
.footer-section h6 {
    display: flex;
    margin-top: -9px;
    color: #fff;
    margin-left: 8%;
    margin-bottom: 17px;
}
.footer-menu {
    margin-left: 3%;
}
.footer-menu li a {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #aeaeae;
    text-decoration: auto;
    margin-left: 12px;
    margin-bottom: 1%;
}
}