body {
  background-color: #080808;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 15px;
  opacity: 0;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
}
h4{
  color: #fff;
}
::-webkit-scrollbar-thumb {
  background: #323232;
}

::-moz-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}

::selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}

::-moz-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}

::-webkit-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}

.share_h6{
  color: #fff;
  display: flex;
  padding-right: 17px;
  font-size: larger;
  align-items: center;
}
.soch {
  margin-left: 7%;
  display: flex;
  margin-top: 70px;
  margin-bottom: 1%;
}
.DriverTest {
  display: flex;
}
.DriverTest img {
  width: 150px;
  margin-left: 62px;
  margin-top: 77px;
}
.iobith1 h1 {
  color: #fff;
  margin-left: 19%;
  margin-top: -98px;
}
#text21 {
  color: #b3b3b3;
  font-weight: 600;
  margin-top: 1%;
  padding-right: 28%;
}
.Driv1 img {
  width: 35%;
  margin-left: 74%;
  margin-top: -60%;
}
.vozv h1 {
  color: #fff;
  font-size: xx-large;
}
.osob li {
  color: #dfdfdf;
}
@media screen and (max-width: 600px) {
  .share_h6 {
    color: #fff;
    display: flex;
    padding-right: 0px;
    justify-content: center;
    font-size: larger;
}
.soch {
    margin-left: 2%;
    display: block;
    margin-top: 45px;
    text-align: center;
    margin-bottom: 20px;
}
  .DriverTest img {
    width: 51%;
    justify-content: center;
    margin-top: 13%;
    margin-left: 28%;
    margin-right: auto;
  }
  .iobith1 h1 {
    color: #fff;
    justify-content: center;
    margin-left: 43%;
    margin-top: -3px;
  }
  #text21 {
    color: #b3b3b3;
    font-weight: 600;
    margin-left: 0%;
    margin-top: 0%;
    text-align: center;
    justify-content: center;
    padding-right: 0%;
  }
  .vozv h1 {
    color: #fff;
    font-size: xx-large;
    margin-left: 1%;
    justify-content: center;
  }
  .osob li {
    color: #dfdfdf;
    margin-left: 1%;
  }
  .Driv1 img {
    width: 89%;
    margin-left: 5%;
    justify-content: center;
    margin-top: 21%;
  }
}
