body {
  background-color: #080808;
  overflow-x: hidden;
}
.container {
  max-width: 1176px;
}
::-webkit-scrollbar {
  width: 15px;
  opacity: 0;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #323232;
}
::-moz-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}
h4{
  color: #fff;
}
::selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}

::-moz-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}

::-webkit-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}
.share_h6{
  color: #fff;
  display: flex;
  padding-right: 17px;
  font-size: larger;
  align-items: center;
}
.soch {
  margin-left: 7%;
  display: flex;
  margin-top: 70px;
  margin-bottom: 1%;
}
.container {
  max-width: 1176px;
}
.container_img {
  max-width: 1176px;
  padding-right: 50%;
  padding-left: 50%;
}
.DriverTest b {
  margin-left: -69%;
  margin-right: auto;
  font-size: xx-large;
  word-break: initial;
  color: #fff;
}
.DriverTest {
  display: inline-block;
}
.site-logo img {
  width: 16%;
  margin-top: 15px;
  margin-left: 7%;
}
.Driv1 {
  display: flex;
  justify-content: center;
  margin-top: 6vh;
}
.Driver2 img {
  width: 42%;
  margin-left: 65%;
  margin-top: -38%;
}
#text21 {
  color: #9f9f9f;
  padding-right: 36%;
  font-weight: 500;
  margin-top: 1%;
}
.osob h1 {
  color: #fff;
  font-size: revert;
}
.osob li {
  color: #d7d7d7;
  padding-right: 30%;
}

@media screen and (max-width: 600px) {
  .contein {
    display: inline-grid !important;
    margin: 10px !important;
}
.contein img {
  margin: 6px;
  width: 97%;
}
  .osob li {
    color: #d7d7d7;
    padding-right: 0%;
  }
  .share_h6 {
    color: #fff;
    display: flex;
    padding-right: 0px;
    justify-content: center;
    font-size: larger;
}
.soch {
    margin-left: 2%;
    display: block;
    margin-top: 45px;
    text-align: center;
    margin-bottom: 20px;
}
  .Driv1 {
    display: flex;
    justify-content: center;
    margin-left: 3px;
    margin-top: 0vh;
  }
  .Driv1 img {
    margin-top: 12vh;
  }
  .DriverTest b {
    margin-left: -67%;
    font-size: xx-large;
    word-break: initial;
    text-align: center;
    color: #fff;
  }
  #text21 {
    color: #9f9f9f;
    padding-right: 1%;
    margin-top: 3%;
    text-align: center;
    font-weight: 500;
  }
  .Driver2 img {
    width: 100%;
    margin-left: 0%;
    margin-top: 19%;
  }
}

@media screen and (max-width: 992px) and (min-width: 601px) {
  .Driv1 img{
    display: block !important;
  }
}