html,
body {
  background-color: #080808;
  overflow-x: hidden;
}
::-moz-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}

::selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}

::-moz-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}

::-webkit-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}
h4{
  color: #fff;
}
.share_h6{
  color: #fff;
  display: flex;
  padding-right: 17px;
  font-size: larger;
  align-items: center;
}
.soch {
  margin-left: 7%;
  display: flex;
  margin-top: 70px;
  margin-bottom: 1%;
}
.DriverTest {
  display: flex;
}
::-webkit-scrollbar {
  width: 15px;
  opacity: 0;
}
::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #323232;
}
::selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}
::-moz-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}
::-webkit-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}
.DriverTest img {
  width: 150px;
  margin-left: 62px;
  margin-top: 77px;
}
.iobith1 h1 {
  color: #fff;
  display: flex;
  margin-left: 20%;
  margin-top: -5%;
}
#text21 {
  color: #d5d5d5;
  font-weight: 600;
  padding-right: 24%;
  margin-top: 1%;
}
.Driv1 img {
  width: 23%;
  margin-top: -31%;
  margin-left: 80%;
}
.oper h1 {
  color: #fff;
  font-size: x-large;
}
.osob1 li {
  color: #e1e1e1;
}
@media screen and (max-width: 600px) {
  .share_h6 {
    color: #fff;
    display: flex;
    padding-right: 0px;
    justify-content: center;
    font-size: larger;
}
.soch {
    margin-left: 2%;
    display: block;
    margin-top: 45px;
    text-align: center;
    margin-bottom: 20px;
}
  .iobith1 {
    display: flex;
    justify-content: center;
  }
  .DriverTest img {
    width: 45%;
    margin-left: 28%;
    margin-top: 32%;
  }
  .iobith1 h1 {
    color: #fff;
    display: flex;
    font-size: 208%;
    margin-left: 3%;
    margin-top: -1%;
  }
  #text21 {
    color: #9f9f9f;
    font-weight: 600;
    margin-top: 0%;
    text-align: center;
    padding-right: 0%;
  }
  .Driv1 img {
    width: 92%;
    margin-top: 28%;
    margin-left: 4%;
  }
}
