body {
    background-color: #0c0c0c;
    color: rgb(255, 255, 255);
    height: 100%;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.8em + 0.75rem + 3px) !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    border-radius: 4px;
}
  
  .selected-item {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    border-radius: 4px;
  }
  
  .dropdown-menu {
    display: block;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 314px;
    overflow-y: auto;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
}
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #f0f0f0;
  }
  



main {
    background: #1f2a34;
    width: 80%;
    border-radius: 9px;
    margin-bottom: 4%;
}
.content-flex{
    padding-bottom: 50px;
    padding-top: 30px;
}
.main-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
*::before,
*::after {
    box-sizing: border-box;
}

.btn-primary {
    display: inline-block;
    font: normal normal 300 1.3em 'Open Sans';
    text-decoration: none;
    color: rgb(0, 0, 0);
    brackground-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 0.3em 1.2em;
    margin: 5px;

    background-size: 200% 100%;
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(to right, #ffffff 50%, rgba(28, 190, 131, 1) 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

  .btn-primary:hover{
    color:rgba(255, 255, 255, 1);
    background-color:rgba(28, 190, 131, 1);
    background-position: -100% 100%;
  }
  .btn-primary:focus{
    color:rgb(0, 0, 0);
  }

  .copy {
    display: inline-block;
    font: normal normal 300 1.1em 'Open Sans';
    text-decoration: none;
    color: rgb(0, 0, 0);
    brackground-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 0.3em 1.2em;
    margin: 5px;

    background-size: 200% 100%;
    font-family: "Roboto", sans-serif;
    background: #ffffff;
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

  .copy:hover{
    background: rgb(238, 238, 238);
  }
  .copy:focus{
    color:rgb(0, 0, 0);
  }
* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #f9f9fd;
}
.main_content{
    min-height: 100vh;
    position: relative;
}

#demo {
    color: #ff2b2b;
}
.main {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sel1 {
    cursor: pointer;
}

#sel2 {
    cursor: pointer;
}

.main_content {
    padding: 25px;
}
.button-group{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.copy{
    margin-top: 10px;
}
.convents{
    text-align: center !important;
    margin-bottom: -7%;
}
.btn-primary{
    margin-right: 12px;
}
.h1_desp {
    font-size: 58px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 44px;
}
.conv{
    color: aquamarine;
}
#finalAmount {
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin-top: 30px;
}

.group 			  { 
  position:relative; 
  margin-bottom:15px; 
}
input {
    font-size: 18px;
    padding: 6px 15px 6px 11px;
    display: block;
    width: 100%;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 17px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 13px;
    top: 7px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-26px;
  font-size:14px;
  color:#0bb38f;
}
.bar {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 2px;
}
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#0bb38f; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.footer-section {
    background-color: #1c1d1f;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 100%;
    padding-top: 21px;
    margin-top: -54px;
    display: flex;
}
.personality{
    color: rgba(28, 190, 131, 1) !important;
}
.personality:hover{
    color: #ffffff !important;
}
.footer-menu {
    display: flex;
    align-items: baseline;
}

.footer-menu h6 {
    padding-right: 202px;
}

.footer-menu a {
    color: rgb(255, 255, 255);
    padding-right: 36px;
    transition: 0.1s linear;
}

.footer-menu a:hover {
    text-decoration: auto;
    color: rgb(213, 213, 213);
}

@media screen and (max-width: 600px) {
    .h1_desp {
        font-size: 27px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 44px;
    }
    .main {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    main {
        width: 100%;
        margin-bottom: 53px;
    }
    .input-group {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
        margin-bottom: 3%;
    }
    #sel1 * {
        font-size: 13spx;
    }
    .notification {
        position: fixed;
        top: 25px;
        right: 1rem !important;
        padding: 20px;
        color: white;
        font-weight: 600;
        border-radius: 4px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        opacity: 0;
        transform: translateX(117px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    .footer-menu h6 {
        padding-right: 0px;
    }
    .footer-menu {
        display: block;
        margin-left: 1%;
    }
    .btn-primary {
        display: inline-block;
        font: normal normal 300 1.1em 'Open Sans';
        text-decoration: none;
        color: rgb(0, 0, 0);
        brackground-color: transparent;
        border: none;
        border-radius: 5px;
        padding: 0.3em 1.2em;
        margin: 5px;
        background-size: 200% 100%;
        font-family: "Roboto", sans-serif;
        background-image: linear-gradient(to right, #ffffff 50%, rgba(28, 190, 131, 1) 50%);
        transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    }
     h3{
        font-size: 23px;
    }
    .table-currency{
        margin-top: -5px;
        margin-bottom: 40px;
    }
    .table thead th {
        border-bottom: 0px solid #dee2e6 !important;
        font-size: 11px;
    }
    .footer-menu a {
        color: aqua;
        padding-right: 5px;
        transition: 0.1s linear;
    }
    .circle {
        width: 9px !important;
        height: 9px !important;
        border-radius: 100%;
        box-shadow: 0px 0px 1px 1px #0000001a;
        margin-left: 18px;
    }
    td[data-v-6a03171c] {
        padding: 9px !important;
        font-size: 11px !important;
        color: #fff;
    }
    .footer-section {
        background-color: #262626;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 94px;
        width: 100%;
        padding-top: 21px;
        margin-top: -54px;
        display: flex;
    }
    .main_content {
        min-height: 95vh;
    }
    #finalAmount {
        display: flex;
        justify-content: center;
        font-size: 23px;
        margin-top: 30px;
    }
  }
  @media screen and (max-width: 992px) and (min-width: 601px){
    .footer-menu h6 {
        padding-right: 39px;
    }
    .h1_desp {
        font-size: 38px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 44px;
    }
    h3{
        font-size: 27px;
    }
    .main {
        width: 89%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  }