html,
body {
  background-color: #080808;
  overflow-x: hidden;
}

::-moz-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}
h4{
  color: #fff;
}
::selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}

::-moz-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}

::-webkit-selection {
  background: rgb(235, 235, 235);
  color: rgb(15, 15, 15);
}
::-webkit-scrollbar {
  width: 15px;
  opacity: 0;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #323232;
}
#counter {
  color: #ff8100;
  font-weight: 700;
  font-size: 150%;
  margin-top: -57px;
  margin-left: 21%;
}
.thank {
  font-weight: 700;
  font-size: 165%;
  color: #fff;
}
.like {
  width: 26px;
  margin-left: 291px;
  margin-top: -62px;
}
#link {
  display: block;
  border: none;
  background: #ebebeb;
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  padding: 1px 51px;
  color: black;
  text-align: center;
  outline: none;
  width: 12%;
  text-decoration: auto;
  font-size: 22px;
  margin-left: 24%;
  box-shadow: 0 0 15px #727272;
  margin-top: -28px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  height: 33px;
}
.share_h6{
  color: #fff;
  display: flex;
  padding-right: 17px;
  font-size: larger;
  align-items: center;
}
.soch {
  margin-left: 7%;
  display: flex;
  margin-top: 70px;
  margin-bottom: 1%;
}
.view {
  width: 4%;
  display: flex;
  padding-right: 16px;
  margin-left: 4%;
  margin-top: 7%;
}
.vie {
  font-weight: 600;
  display: flex;
  font-size: 113%;
  margin-left: 7%;
  margin-top: -30px;
  color: #fff;
}

.DriverTest img {
  width: 15%;
  margin-left: 4%;
}
.iobith1 h1 {
  display: flex;
  color: #fff;
  margin-left: 17%;
  margin-top: -102px;
}
.Driv1 img {
  width: 19%;
  margin-top: -25%;
  margin-left: 88%;
}
#text21 {
  font-weight: 600;
  color: #cfcfcf;
  margin-top: 1%;
  padding-right: 17%;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1176px;
  margin-right: -15px;
  margin-left: -15px;
}
@media screen and (max-width: 600px) {
  .contein {
    display: inline-grid !important;
    margin: 10px !important;
}
.contein img {
  margin: 6px;
  width: 97%;
}
  .share_h6 {
    color: #fff;
    display: flex;
    padding-right: 0px;
    justify-content: center;
    font-size: larger;
}
.soch {
    margin-left: 2%;
    display: block;
    margin-top: 45px;
    text-align: center;
    margin-bottom: 20px;
}
  .iobith1 {
    display: flex;
    justify-content: center;
  }
  .DriverTest img {
    width: 42%;
    margin-left: 29%;
    margin-top: 20%;
  }
  .iobith1 h1 {
    display: flex;
    color: #fff;
    margin-left: 2%;
    margin-top: -4px;
  }
  #text21 {
    font-weight: 600;
    color: #cfcfcf;
    margin-top: 1%;
    text-align: center;
    padding-right: 0%;
  }
  .Driv1 img {
    width: 80%;
    margin-top: 26%;
    margin-left: 10%;
  }
}
